# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
atca/
boards/
ca-bundle/
core/
dht/
freertos/
i2c/
mbedtls/
modules/
mongoose/
rpc-common/
rpc-service-config/
rpc-service-fs/
rpc-uart/
sht31-i2c/
vfs-common/
vfs-dev-part/
vfs-fs-lfs/
vfs-fs-spiffs/
wifi/
aws/
mqtt/
rpc-mqtt/
rpc-service-gpio/